@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}
body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 18px;
	font-weight: bold;
	color:#000;
	background: #eee;
}
.swiper-container {
	width: 100%;
	height:100%;
	margin-left: auto;
	margin-right: auto;

}
.swiper-slide {
	overflow-x:hidden;
	overflow-y:scroll;
	-webkit-overflow-scrolling: touch;

	text-align: center;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: block;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

li {
	list-style: none;
	width: 100%;
	margin: 0;
	display: block;
}
.Content {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}
.Content li {
	padding: .7em 15px;
	border: 1px solid #ccc;
	text-align: left;
	border-width: 0;
	border-top-width: 1px;
	position: relative;
	color: #333;
}
.Header, .Footer {
	padding: 0px;
	margin: 0;
}
.Header li, .Footer li {
	padding: .7em 0px;
	color: #fff;
	text-align:center;
	background: #222;
	text-shadow: 0 -1px 0 #222;
}
