@charset "utf-8";
/* CSS Document */

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-y:hidden;
}
body {
	background: #eee;
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	font-size: 60px;
	font-weight: bold;
	color:#000;
	background: #eee;
}

header, footer {
	background: #222;
	padding: 0px;
	margin: 0;
}
header div, footer div {
	padding: .7em 0px;
	color: #fff;
	text-align:center;
	text-shadow: 0 -1px 0 #222;
}

li {
	list-style: none;
	margin: 0;
	display: block;
}

/* メンテナンス時に非表示とする要素 */
.hide-in-maintenance {
	display: none;
}

/* メンテナンス メッセージ */

.message-maintenance {
	width: 100%;
	text-align: center;
	font-size: 6.5rem;
	letter-spacing: 2.0rem;
}

.message-maintenance p {
	position: absolute;
	top: 40%;
	transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
	width: 100%;
}

.message-maintenance p small {
	font-size: 4.0rem;
	font-weight: lighter;
	font-style: italic;
	letter-spacing: 0.7rem;
}

/* メッセージ */

.message {
	text-align: center;
}

.message .end-day {
	line-height: 1.3;
}

/* 便のブロック */

.content {
	list-style: none;
	width: 100%;
	padding: 0;
	margin: 0;
}

.content li {
	padding: 15px 15px;
	border: 1px solid #ccc;
	text-align: left;
	border-width: 0;
	border-top-width: 1px;
	position: relative;
	color: #333;
	margin: 5px;
	float: left;
	list-style: none;
}

.content li p {
	margin: 0 0 0 0;
}

/* 備考 */

.content li p span.note {
	color: #505050;
	font-size: 75%;
}
