<!-- Timetable page (TimetableCtrl) -->
<div class="load" ng-show="isLoading">
	<i class="fa fa-circle-o-notch fa-spin"></i>
</div>
<div class="timetable-info card" style="border-bottom: 1px solid {{route.color}};">
	<p class="route-name">
		{{route.routePrefix}}&nbsp;{{route.routeName}}
	</p>
	<p class="dia-name">
		{{route.diaName}}&nbsp;ダイヤ
	</p>
	<hr/>
	<p class="next-bus"  ng-show="buses != null && buses.length == 0">
		本日の営業は終了しました
	</p>
	<p class="next-bus" ng-show="nextBus != null" ng-class="{'soon' : nextBus.isSoon}">
		<i class="fa fa-clock-o"></i>&nbsp;次の出発まで
		<span >{{nextBus.remainDateStr}}</span>
	</p>
</div>
<ul class="timetable">
	<li class="card" ng-repeat="item in buses">
		<span class="dep-time">{{item.departureDate | date:'HH:mm'}}</span>
		<span class="arr-loc">{{route.arrivalLocation}} 行</span>
		<span class="note">{{item.note | substring:0:1}}</span>
	</li>
</ul>
<!---->
